@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: Lato, serif;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.2rem;
}

section {
  width: 80%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

/* General Styles for Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 100;
  padding: 0 30px;
  background-color: white;
  font-size: 0.875rem;
  font-weight: 600;
  box-shadow: 2px 0 3px #333;
}

nav .logo {
  text-decoration: none;
  font-size: 1.5rem;
}

/* Ensure the ul is displayed as flex */
nav ul {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

/* Hide mobile nav on desktop */
.nav--mobile {
  display: none;
}

/* Hamburger Menu */
.nav__toggle {
  display: flex; /* Make sure it's visible */
  flex-direction: column;
  cursor: pointer;
}

.nav__bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

/* Slide-out Menu */
.nav__links {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 70px;
  right: -100%;
  height: 100%;
  width: 200px;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
}

.nav__links li {
  margin: 20px 0;
  text-align: center;
}

/* Media Query for Mobile */
@media (max-width: 680px) {
  .nav--desktop {
    display: none;
  }

  .nav--mobile {
    display: flex;
    align-items: center;
  }

  .nav__links.active {
    display: flex;
    right: 0;
  }
}

.hello {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hello__text {
  display: block;
  line-height: 1.2;
  font-weight: 500;
}

.hello__subtitle {
  font-size: 4rem;
  padding-left: 20px;
  padding-right: 20px;
}

#hello__name {
  font-size: 7rem;
  color: royalblue;
  padding-left: 20px;
  padding-right: 20px;
}

.hello__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.hello__btn-button {
  color: #333;
  padding: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  border: 4px solid black;
  border-radius: 50px;
}

.portfolio {
  flex-direction: column;
}

.portfolio__wrapper {
  display: grid;
  min-width: 80%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 600px;
  padding: 50px;
  gap: 10px;
}

.portfolio__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 400px;
  min-height: 600px;
  padding: 10px;
  border: 1px solid black;
}

.project__image {
  width: 80%;
  flex-shrink: 0;
}
.project__image img {
  width: 100%;
  flex-shrink: 0;
}

.project__description {
  width: 80%;
}

.project__links {
  display: flex;
  justify-content: space-around;
  min-width: 80%;
}

.project__btn {
  border: 3px solid black;
  border-radius: 15px;
  padding: 5px;
  min-width: 120px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about {
  flex-direction: column;
  gap: 50px;
  padding-block: 50px;
  gap: 50px;
}

.about__wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 80%;
}

.about__image {
  border: 5px solid black;
  border-radius: 40% 0 40% 0;
}

.about__text {
  width: 50%;
}

.about__technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
  width: 80%;
}

.about__tech-row {
  display: flex;
}
.about__tech-row > * {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.about__tech-category {
  width: 39.9%;
  flex-direction: row;
  justify-content: center;
  margin-inline: 10px;
  border: 1px solid black;
  padding-bottom: 10px;
}

.about__tech-category-title {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: black;
  color: white;
}

.about__tech-item {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
}

.about__hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.about__hobbies-wrapper {
  display: flex;
  justify-content: center;
}

.about__hobbies-icons {
  flex-basis: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.about__hobbies-text {
  flex-basis: 40%;
}

.resume {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resume__title {
  font-size: 64px;
}

.resume__buttons {
  display: flex;
  gap: 10px;
}
.resume__btn {
  border: 3px solid black;
  border-radius: 15px;
  padding: 5px;
  min-width: 120px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact__form .contact__form-group {
  margin-bottom: 20px;
  position: relative;
}

.contact__form-wrapper {
  width: 60%;
  margin-bottom: 50px;
}

.contact__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact__input,
.contact__textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.contact__input:focus,
.contact__textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.contact__error-message {
  color: red;
  font-size: 0.875em;
  position: absolute;
  bottom: -20px;
  left: 0;
  display: none;
}

.contact__btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s;
}

.contact__btn:hover {
  background: #0056b3;
}

.contact__btn i {
  margin-right: 5px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.footer__icons-icon {
  width: 32px;
  aspect-ratio: 1/1;
}

@media (max-width: 600px) {
  .contact {
    padding: 15px;
  }

  .contact__btn {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .portfolio__wrapper {
    grid-template-columns: 1fr;
    margin-inline: auto;
    min-width: 100%;
    padding: 0;
  }
  .project {
    min-width: 100%;
  }
  .project__links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 680px) {
  .hello__name {
    font-size: 4rem;
  }
  .hello__subtitle {
    font-size: 2rem;
  }
  .about__wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about__text {
    width: 80%;
  }

  .about__tech-row {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .about__tech-category {
    width: 90%;
  }

  .about__hobbies-title {
    text-align: center;
  }

  .about__hobbies-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 90vh;
  }

  .about__hobbies-text {
    width: 100%;
  }
}
